# Ignore files
*.jpg
*.pth

# Ignore folders
catboost_info/
checkpoints/
Data/
outputs/images/
outputs/models/
outputs/preprocessed_data/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store